@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap')

// Variables
$primaryColor: #005BC0
$secondaryColor: #003459
$textColor: #ffffff

body
    font-family: 'Josefin Sans', sans-serif

//Navbar
.custom-nav
    background-color: $primaryColor
    color: $textColor
    padding: 1em

    .navbar-brand
        font-weight: 700
        width: 20%
        white-space: break-spaces
        display: block

    .navbar-nav
        gap: 1.8em
        .nav-link
            color: $textColor
            font-weight: 300

//Custom Section
.custom-hero
    margin-top: 3em
    align-items: center
    margin-left: 0
    margin-right: 0

    h1
        font-weight: 300
        color: $secondaryColor
        font-size: 4rem
        .hero-text
            color: $primaryColor
            font-weight: 600

    p
        font-weight: 300
        color: $secondaryColor

    .button-wrapper
        margin-top: 2em

        .btn
            border-radius: 3em
            padding: .5em 1.5em
            font-weight: 300

        .btn-primary
            background-color: $primaryColor

        .btn-light
            border: 1px solid black

    .hero-image
        width: 500px
        height: 500px
